python version 3.6.3
django version 1.9 or above
database: mysqlite default hunxa
html 5 and css 

Idle : Pycharm or you can have your own



Informations

name: Subash Sapkota
phone: 9860464577

name: suraj dhakal
phone: 9862155911

name: Sandesh Balaya Shrestha
phone: 9843648926
email: unovaxan@gmail.com

name: Sishir Rijal
Phone: 9844629535
email: sishir068@gmail.com

name: Jit Bahadur Khamcha
phone: 9843753420
email: jitu.khamcha516@gmail.com

To run the project
python manage.py runserver
127.0.0.1:8000/admin
admin username = Teamnoobie
	password = hello123
